.wrapper {
  background-color: #f6f8fc;
  padding-bottom: 5%;

}

.tableContainer {
  overflow: hidden;
  overflow-x: scroll;
  width: 100%;
  max-width: 100vw;
  display: flex;
  /* justify-content: center; */

}

.actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.addemployeebar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 2px -1px, rgba(0, 0, 0, 0.3) 0px 1px 1px -1px;
  background-color: white;
}

.backbox {
  display: flex;
  align-items: center;
  gap: 20px;
}

.backbox span {
  font-size: 20px;
  font-weight: 500;
}

.backbutton {
  height: 40px;
  width: 40px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  border-radius: 8px;
}

.addbutton {
  width: 151px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #008738;
  color: white;
  font-size: 14px;
  font-weight: 400;
  border-radius: 8px;
  cursor: pointer;
}

.addbutton:active {
  transform: scale(0.98);
}

.addemployeemodal {
  max-height: 600px;
  /* width: 800px; */
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
  outline: none;
  /* margin: 2% 0% 0% 20%; */
}

.addemployeemodalcontainer {
  display: flex;
}

.addemployeemodalheading {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #f2f2f2;
}

.addemployeemodalheading span {
  font-weight: 500;
  font-size: 20px;
}

.add__employee__content__container {
  display: flex;
  flex-direction: column;
  max-height: 450px;
  overflow: auto;
}

.addemployeemodalname {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #f2f2f2;
}

.addemployeemodalname span {
  font-size: 16px;
  font-weight: 500;
  color: #9595ad;
  width: 20%;
}

.addemployeemodalname input {
  /* width: 550px; */
  width: 100%;
  height: 48px;
  border-radius: 10px;
  background-color: #f6f8fc;
  outline: none;
  border: none;
  padding-left: 20px;
}

.fieldMainContainer {
  width: 75%;
}

.addemployeemodaldropdowns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #f2f2f2;
}

.addemployeemodaldropdowns span {
  font-size: 16px;
  font-weight: 500;
  color: #9595ad;
}

.reactselect {
  /* width: 550px; */
  width: 75%;
  min-height: 48px;
  border-radius: 10px;
  background-color: #f6f8fc;
  outline: none;
  border: none;
}

.addemployeemodalcancel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  gap: 40px;
}

.addemployeemodalcancel div {
  width: 118px;
  height: 47px;
  background-color: #008738;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.addemployeemodalcancel div:active {
  transform: scale(0.98);
}

.addemployeemodalcancel span {
  color: #9595ad;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.deleteemployeemodal {
  height: 270px;
  /* width: 600px; */
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
  outline: none;
  /* margin: 13% 0% 0% 28%; */
}

.deleteemployeeheading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #f2f2f2;
}

.deleteemployeesubheading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #9595ad;
  line-height: 1.6em;
}

.deleteemployeesubheading span {
  text-align: center;
}

.deleteemployeecancel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 40px;
}

.deleteemployeecancel div {
  width: 118px;
  height: 47px;
  background-color: #d7090a;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.deleteemployeecancel div:active {
  transform: scale(0.98);
}

.deleteemployeecancel span {
  color: #9595ad;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/* .userManagementTable {
  overflow-x: auto;
} */



@media (max-width: 320px) {
  .deleteemployeecancel div {
    font-size: 13px;
  }

  .addemployeemodaldropdowns span {
    font-size: 13px;
    width: 40%;
  }

  .addemployeemodalname span {
    font-size: 12px;
    width: 40%;
  }

  .addemployeemodal {
    width: 90%;
    /* margin: 2% 5% 0% 5%; */
  }

  .deleteemployeemodal {
    width: 80%;
    height: 345px;
  }
}

@media (min-width: 321px) and (max-width: 480px) {
  .addemployeemodal {
    width: 90%;
  }

  .addemployeemodalname span {
    font-size: 13px;
    width: 40%;
  }

  .addemployeemodaldropdowns span {
    font-size: 13px;
    width: 40%;
  }

  .deleteemployeemodal {
    width: 80%;
    height: 330px;
  }
}

@media (min-width: 481px) and (max-width: 576px) {
  .addemployeemodal {
    width: 90%;
  }

  .addemployeemodalname span {
    font-size: 13px;
    width: 40%;
  }

  .addemployeemodaldropdowns span {
    font-size: 13px;
    width: 40%;
  }

  .deleteemployeemodal {
    width: 80%;
    height: 330px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .addemployeemodal {
    width: 90%;
  }

  .deleteemployeemodal {
    width: 80%;
  }
}