.wrapper {
  padding: 6px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  margin-bottom: 5px;
  text-decoration: none;
  color: #8b8b8b;
}
.wrapper:hover {
  background-color: #d0f0c0;
}
.active {
  color: white;
  background-color: #008738;
}
.title {
  color: #8b8b8b;
  font-size: 13px;
}
.titleactive {
  color: white;
  font-weight: 600;
  font-size: 13px;
}
.icon {
  font-size: 18px;
  margin-top: 5px;
}
