* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* position: relative; */
}

table {
  width: 97%;
  border-collapse: collapse;
  margin: 20px 0px 20px 20px;
  border: 0.3px solid #f6f8fc;
  border-radius: 8px;
}

th {
  background-color: #f6f8fc;
  font-weight: bold;
  text-align: left;
  padding: 8px;
  border: none;
  padding: 20px;
}

td {
  padding: 20px;
  border-top: none;
}
tbody {
  color: #9595ad;
  background-color: white;
}

tbody tr:first-child {
  border-bottom: 1px solid #dddddd;
}

tbody tr:not(:first-child) {
  border-bottom: 1px solid #dddddd;
}

.list__container__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: -2em; */
  margin-top: 2.5em;
  padding-bottom: 2em;
}

.list__container__pagination .pagination,
.scroll__animate .pagination {
  display: flex;
  align-items: center;
  background-color: transparent !important;
}

.list__container__pagination .pagination li,
.scroll__animate .pagination li {
  width: fit-content;
  height: fit-content;
  background-color: transparent !important;
}

.list__container__pagination .pagination li a,
.scroll__animate .pagination li a {
  width: 35px;
  height: 35px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.2em;
  margin-right: 0.2em;
  border-radius: 5px;
  color: #303043;
}

.list__container__pagination .pagination .active a,
.scroll__animate .pagination .active a {
  background: #008738;
  color: #ffffff;
}

.list__container__pagination .pagination .disabled a,
.scroll__animate .pagination .disabled a {
  background: #f6f6f6;
  color: #cbcbda;
}

.list__container__pagination li,
.scroll__animate li {
  list-style: none;
}

.model__container__bigger {
  position: fixed;
  top: 0px;
  left: 0px;
  /* bottom: -150px; */
  width: 100%;
  height: 100%;
  z-index: 999999999999999;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: center;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.5);
  animation: model__container__bigger 0.3s ease-in-out;
}
@keyframes model__container__bigger {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
